<div class="container">
  <div class="intro-text">
    <h1>Create Account</h1>
  </div>
  <div class="inputs">
    <div class="input">
      <input type="text" name="firstName" id="firstName" required/>
      <label for="firstName">
        First Name
      </label>
    </div>
    <div class="input">
      <input type="text" name="lastName" id="lastName" required/>
      <label for="lastName">
        Last Name
      </label>
    </div>
    <div class="input">
      <input type="text" name="nic" id="nic" required/>
      <label for="nic">
       Nic
      </label>
    </div>
    <div class="input">
      <input type="text" name="userName" id="userName" required/>
      <label for="userName">
        User Name
      </label>
    </div>
    <div class="input">
      <input type="text" name="password" id="password" required/>
      <label for="password">
        Password
      </label>
    </div>

    <div class="input">
      <input type="text" name="confirmps" id="confirmps" required/>
      <label for="confirmps">
      Confirm Password
      </label>
    </div>
  </div>
  <button >Create Account</button>
</div>
