<div class="container">
  <div class="intro-text">
    <h1>Sign in</h1>
  </div>
  <div class="inputs">
    <div class="input">
      <input type="text" name="userName" id="userName" required/>
      <label for="userName">
        User Name
      </label>
    </div>
    <div class="input">
      <input type="password" name="password" id="password" required/>
      <label for="password">
        Password
      </label>
    </div>
  </div>
  <a href="#" class="forgot-pass-link">Forgot password?</a>
  <button>Sign in</button>
  <p class="join-link"> <a href="#">Join now</a></p>
</div>
